
body {
  background-color: #eee;
  color: #555;
}

pre {
  font-family: monospace;
  background-color: #fff;
  width: 42em;
  margin: 4em auto;
  padding: 0.5em;
  border-radius: .25em;
  box-shadow: .1em .1em .5em rgba(0,0,0,.45);
  line-height: 0;
  counter-reset: line;
}

pre span {
  display: block;
  line-height: 1.2rem;
}

pre span:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  text-align: right;
  color: #888;
  width: 1.5em;
}

pre a:link, pre a:visited {
  color: #555;
  text-decoration: underline;
}

pre a:hover, pre a:active {
  color: #888;
  text-decoration: underline;
}
